body{
    background-color: beige;
}
body a{
    color: #636363;
    font-size: 25px;
    font-family: moret, serif;
    text-decoration: none;
    gap:20px;
    
}
body p{
    color: rgb(99, 99, 99);
    font-size: 20px;
}
.header{
    display:flex;
    align-items: center;
    gap: 10px;
}
header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.gestion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.supp{
    border: solid 2px grey;
}
h1{
    display: block;
    text-align: center;
    font-family: moret, serif;
    font-size: 70px;
    color: rgb(71, 71, 71);
}
h2{
    display: block;
    text-align: center;
    font-family: moret, serif;
    font-size: 30px;
    color: rgb(48, 48, 48);
}
form{
    display:flex;
    flex-direction: column;
}

#envoyer{
    width: 160px;
    border-radius: 0;
    height: 35px;
    font-family: moret, serif;
    font-size: 20px;
    color: beige;
    background-color: grey;
    
}
#text{
    background: none;
    height: 70px;
}
#titre{
    background: none;
    height: 35px;
    border: solid 1px grey;
}
